$root: 18;

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    font-size: 18px;
}

body {
    font-family: 'slab_regular' ,Arial, Helvetica, sans-serif;
    line-height: 1.3em;
    color: white;
    background: white;
    max-width: $screen-wide;
    margin: $m-wide;


    .fix-float {
        clear: both;
        height: 0;
        overflow: hidden;
    }

    a {
        color: white;
        text-decoration: none;
        &:hover {
             color: $color_beige;
        }
    }

    header { 
        background: $color_main;
        height: 120px;
        -webkit-transition: height 1s;
        transition: height 1s;

        h1 {
            float: left;
        }

        img:nth-child(1) {
            margin: 20px;
            width: 350px;
            -webkit-transition: width 1s;
            transition: width 1s;
        }

        *::-ms-backdrop, img:nth-child(1) { width: auto; } /* IE11 */

        #ham {
            position: absolute;
            top: 0;
            right: 0;
            margin-left: 250px;
            height: 40px; 
            width: 40px;
            background: $color_main url("images/hamburger_.svg") center center no-repeat;
            display: none;
            color: white;
        }

        nav {
            width: 60%;
            float: right;

            ul {
                float: right;
                width: 70%;
                display: block;
                height: 40px;
                line-height: 40px;
                margin-top: 10px;
                font-size: get-size($root,18);

                li {
                    display: inline;
                    padding: 0 10px;
                    text-align: center;
                }
            
                &.lang {
                    width: 30%;
                    text-align: center;
                }
            }
        }

        &.sticky {
            height: 80px;
            position: fixed;
            z-index: 2000;
            width: 100%;
            top: 0;
            max-width: $screen-wide;

            img:nth-child(1) {
                width: 200px;
            }

            *::-ms-backdrop, img:nth-child(1) { width: 70%; } 
        }
    }

    section {

        background: $color_beige;

        .slider {
            width: 100%;
            max-width: $screen-wide;
            margin: $m-wide auto;
            padding: 50px 0;
            font-family: 'slab_light';

            strong {
                font-family: 'slab_bold'; 
            }
        }

        .slick-slide div {
            width: 100%;
            height: 250px;
            background: $color_beige;
            color: $color_main;

            h3 {
                text-align: center;
                padding: 20px 0 10px 0;
                font-family: 'slab_light_italic', Arial, Helvetica, sans-serif;
            }

            hr {
                width: 80px;
                border: none;
                border-bottom: 3px dotted $color_main;
            }

            p {
                width: 80%;
                font-size: get-size($root,52);
                line-height: 1.3em;
                margin: 0 auto;
                text-align: center;
            }

            a {
                color: $color_main;
                font-family: 'slab_bold_itlaic', Arial, Helvetica, sans-serif;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .slick-prev,
        .slick-next {
            width: 50px;
            height: 50px;
            z-index: 1000;
        }

        .slick-prev:before,
        .slick-next:before {
            color: $color_main;
            font-size: 50px;
            content: url("images/arrow-left.svg");
        }
        .slick-next:before {
            content: url("images/arrow-right.svg");
        }

        .slick-prev {
            left: 2%;
        }

        .slick-next {
            right: 2%;
        }

        &.text-box {
            color: $color_main;
            margin-bottom: $m-wide;
            padding: 47px;

            > div {
                max-width: $screen-wide;
                margin: 0 auto;
                text-align: left;
                padding: 30px 0;

                > div:nth-child(1) {
                    width: 20%;
                    float: left;
                    font-size: get-size($root,24);
                    padding-bottom: 20px;
                }
                > div:nth-child(2) {
                    width: 70%;
                    float: left;
                    font-size: get-size($root,27);
                    line-height: 2rem;
                    padding-bottom: 20px;

                    .box {
                        float: left;
                        width: (100 / 3) * 1%;
                        font-size: get-size($root,18);
                        text-align: left;
                        line-height: normal;

                        img {
                            width: 60%;
                        }

                        h4 {
                            font-family: 'slab_bold';
                        }

                        p {
                            width: 90%;
                        }

                        a {
                            color: $color_main;
                        }
                    }

                    .box-team {
                        float: left;
                        width: (100 / 3) * 1%;
                        text-align: left;
                        font-size: get-size($root,27);
                        height: 540px;
                        line-height: 1rem;
                        overflow: hidden;

                        img {
                            width: 80%;
                            margin-bottom: 10px;
                        }

                        h4 {
                            font-size: get-size($root,18);
                            text-align: left;
                            padding-bottom: 10px;
                            width: 80%;
                        }

                        dl {
                            text-align: left;
                            width: 80%;
                            border-bottom: 1px $color_main dotted;
                            margin-bottom: 10px;
                            padding-bottom: 10px;
                            font-size: get-size($root,12);

                            dt {
                                font-weight: bold;
                                padding-bottom: 5px;
                            }

                            dd {
                                display: list-item;
                                list-style-type: disc;
                                margin-left: 25px;
                            }
                        }

                        p {
                            text-align: left;
                            font-size: get-size($root,12);
                            width: 80%;
                            margin-bottom: 10px;
                        }

                        a {
                            color: $color_main;
                            font-weight: bold;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
                > div:nth-child(3) {
                    width: 10%;
                    float: left;
                    text-align: center;
                    margin-top: 280px;
                    color: $color_main;

                    a {
                        display: block;
                    }
                }

                /* Map */

                > div.map:nth-child(2) {
                    width: 20%;
                    float: left;
                    padding-bottom: 20px;

                    a {
                        color: $color_main;
                        font-weight: bold;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                > div.map:nth-child(3) {
                    width: 45%;
                    float: left;
                    text-align: left;
                    margin-top: 0px;

                    p {
                        float: left;
                        margin-right: 15px;
                    }

                    a {
                        display: inline;
                    }
                }
                > div.map:nth-child(4) {
                    width: 10%;
                    float: right;
                    text-align: center;
                    margin-top: 380px;
                    color: $color_main;

                    a {
                        display: block;
                    }
                }

                div.impressum {
                    @include pages-block;
                
                }

                div.revision {
                    @include pages-block;
                    padding-bottom: 250px;
                }

                div.datenschutz {
                    @include pages-block;
                }
            }
        }

        
    }

    footer {
        background: $color_main;
        margin-bottom: $m-wide;

        address {
            float: left;
            font-size: get-size($root,24);
            line-height: 1.8rem;

            p {
                padding: 20px;
                padding-bottom: 0;

                a {
                    font-size: get-size($root,18);
                }
                
            }
        }

        img {
            float: right;
            margin: 20px;
        }
    }
}