/* Responsive */

.open {
    @include animation;
    -webkit-animation-name: openmenu;
    animation-name: openmenu;
    left: 0px;
}
                    
.close {
    @include animation;
    -webkit-animation-name: closemenu;
    animation-name: closemenu;
    left: -250px;
}

@media (min-width: 1320px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: $screen-medium) {
    $root: 16;
    html {
        font-size: $root;
    }
    body {
        margin: $m-medium ;
        
        header { 
            padding: $mb-medium;

            img:nth-child(1) {
                width: 200px;
            }
            *::-ms-backdrop, img:nth-child(1) { width: 70%; } /* IE11 */
    
            nav {
                width: 65%;
                ul {
                    width: auto;
                    float: none;
                    text-align: right;

                    li {
                        padding: 0 6px;
                    }
                
                    &.lang {
                        text-align: right;
                        width: auto;
                    }
                }
            }

            &.sticky {
                position: fixed;
                top: 0;
                z-index: 2000;
                width: 100%;
                max-width: $screen-medium;
            }
        }

        section {

            padding: $mb-medium;
            padding-left: $m-medium / 2;
            padding-right: $m-medium / 2;
            padding-bottom: $m-medium * 6;
            margin-bottom: $m-medium;
            margin-top: $m-medium;


            &.text-box {
                padding: $mb-medium;
                padding-top: $mb-medium * 2;
                padding-bottom: $mb-medium * 2;
                margin-bottom: $m-medium;
            }
        }

        footer {
            padding: $mb-medium;
            padding-top: $mb-medium * 2;
            padding-bottom: $mb-medium * 2;
            margin-bottom: $m-medium;
            margin-bottom: $m-medium;
        }
    }
    
}

@media (max-width: $screen-small) {
    $root: 14;
    html {
        font-size: $root;
    }
    body {
        margin: $m-small;

        header { 
            text-align: left;
            width: 100%;
            position: fixed;
            top: 0;
            z-index: 1001;
            padding: $mb-small;

            img:nth-child(1) {
                width: 200px;
                margin: 0 $mb-small !important;
            }

            *::-ms-backdrop, img:nth-child(1) { width: 50%; } /* IE11 */

            #ham {
                display: block;
            }

            nav {
                width: 250px;
                position: fixed;
                background: $color_main;
                text-align: left;
                top: 80px;
                left: -250px;
                height: 100%;
                z-index: 2000;

                ul {
                    float: none;
                    text-align: left;
                    width: 100%;
                    height: auto;
                    line-height: normal;
                    margin-top: 0;

                    li {
                        display: list-item;
                        border-bottom: darken($color_main, 10%) solid 1px;
                        padding: 0;

                        a {
                            display: block;
                            width: 90%;
                            padding: 10px 5%;
                            text-align: left;

                            &:hover {
                                background: $color_beige;
                                color: $color_main;
                            }
                        }
                    }
                
                    &.lang {
                        text-align: center;
                        width: 100%;
                        background: $color_beige;
                        padding: 10px 0;

                        li {
                            display: inline;
                            border-bottom: none;
                            

                            a {
                                display: inline;
                                color: $color_main;
                            }
                        }
                    }
                }
            }
        }
        section {
            padding: $mb-small;
            padding-left: $m-small / 2;
            padding-right: $m-small / 2;
            padding-bottom: $m-small * 6;
            margin-bottom: $m-small;
            margin-top: $m-small;

            .slider {
                margin-top: 80px;
                padding: 20px 0;
            }

            .slick-slide div {
                h3 {
                    font-size: get-size($root,14);
                }

                p {
                   font-size: get-size($root,22);
                }
            }

            .slick-prev,
            .slick-next {
                width: 35px;
                height: 35px;
            }

            &.text-box {
                color: $color_main;
                padding: $mb-small;
                padding-top: $mb-small * 2;
                padding-bottom: $mb-small * 2;
                margin-bottom: $m-small;
    
                > div:nth-child(1) {
                    width: 100%;
                    margin: 0 auto;
                    float: none;
                    
                }
                > div:nth-child(2) {
                    width: 100%;
                    margin: 0 auto;
                    float: none;

                    ul.grid {
                        li {
                            width: 100%;
                        }
                    }

                    ul.icons {

                        li {
                            text-align: center;
                        }
                    }
                }
                > div:nth-child(3) {
                    width: 100%;
                    position: relative;
                    margin-top: 0px;
                    text-align: center;
                    right: 0;
                    bottom: 0;
                }

                /* Map */

                > div.map:nth-child(2) {
                    float: none;
                    width: 100%;
                    text-align: center;
                }
                > div.map:nth-child(3) {
                    width: 100%;
                    float: none;
                    text-align: center;
                    margin: 0;

                    p {
                        padding-bottom: 10px;
                        float: none;
                    }
                }
                > div.map:nth-child(4) {
                    width: 100%;
                    position: relative;
                    margin-top: 0px;
                    text-align: center;
                    right: 0;
                    bottom: 0;
                }
            }

            .slick-slide div {
    
                h3 {
                    padding: 10px 0;
                }
    
                p {

                }
            }

            .slick-prev {
                left: 0;
            }
    
            .slick-next {
                right: 0;
            }
        }
        footer {
            text-align: center;
            padding: $mb-small;
            padding-top: $mb-small * 2;
            padding-bottom: $mb-small * 2;
            margin-bottom: $m-small;
            margin-bottom: $m-small;

            address {
                float: none;
            }
            img {
                float: none;
                width: 30%;
            }
        }
    }
}