/* Colores */
$color_main: #002856;
$color_beige: #F0EEEB;

/* Screens */
$screen-small: 720px;
$screen-medium: 1024px;
$screen-wide: 1200px;

@keyframes openmenu {
    0%   { left: -250px; }
    100% { left: 0px; }
}

@keyframes closemenu {
    0%   { left: 0px; }
    100% { left: -250px; }
}

.open {
    -webkit-animation-name: openmenu; /* Chrome, Safari, Opera */
    -webkit-animation-duration: .5s; /* Chrome, Safari, Opera */
    -webkit-animation-delay: 0s; /* Chrome, Safari, Opera */
    animation-name: openmenu;
    animation-duration: .5s;
    animation-delay: 0s;
    left: 0px;
}
                    
.close {
    -webkit-animation-name: closemenu; /* Chrome, Safari, Opera */
    -webkit-animation-duration: .5s; /* Chrome, Safari, Opera */
    -webkit-animation-delay: 0s; /* Chrome, Safari, Opera */
    animation-name: closemenu;
    animation-duration: .5s;
    animation-delay: 0s;
    left: -250px;
}